services:
  - type: web
    name: the-cafe
    rootDir: "./The Cafe/The Cafe"
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
